body {
    background-color: rgb(108, 125, 148);
    margin: 0;
}
.card {
    background-color: black;
    margin: 0;
}
.card-text {
    color: yellow;
}
.card-title {
    color: yellow;
}
.navbar-text {
    font: yellow;
}