body {
    background-color: black;
    margin: 0;
}
.card {
    background-color: black;
    margin: 0;
}
.card-text {
    color: yellow;
}
.card-title {
    color: yellow;
}
.navbar-text {
    background-color: yellow;
}